* {
    padding: 0px;
    margin: 0px;
    letter-spacing: .05em;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.hp {
    /* width: 100%; */
    height: 100%;
    /* background-color: lightcyan; */
    background-image: linear-gradient(to right,#d9a7c7,#fffcdc);

}

.logo > svg {
    width: 50px;
    height: 50px;
    
}