* {
    padding: 0px;
    margin: 0px;
    letter-spacing: .05em;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.hp {
    /* width: 100%; */
    height: 100%;
    /* background-color: lightcyan; */
    background-image: linear-gradient(to right,#d9a7c7,#fffcdc);

}

.logo > svg {
    width: 50px;
    height: 50px;
    transform: rotateY(180deg);
}

.search {
    height: 60px;
    width: 1200px;
    background-color: #ffffff;
    position: absolute;
    top: 20%;
    left: 50%;
    /* margin-top: -50px;
    margin-left: -50px; */
    /* 让元素保持再中间 */
    transform: translate(-50%,-50%);
    border-radius: 10px;
    /* box-shadow: 500px,500px,#000000; */
}

.search > * {
    position: absolute;
}
.search-input {
    border: 0px;
    /* border-bottom: #92f322 10p; */
    border-radius: 5px;
    height: 60px;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;
}

.search-button {
    /* text-align: center; */
    border: 0px;
    border-radius: 5px;
    /* background-image: linear-gradient(hsl(219, 100%, 73%),#879cfa); */
    background-color: #ffffff;
    height: 60PX;
    width:  70px;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-50%);
}

.logo {
    transform: translate(-50%,-50%);
    top: 50%;
    left: 3%;
}