* {
    margin : 0px;
    padding: 0px;
    letter-spacing: .05em;
}




html {
    height: 100%;
}

body {
    height: 100%;
}

.all {
    height: 100%;
    background-image: linear-gradient(to right ,hsl(34, 90%, 51%),#e2ba35);
}

.menu {
    height: 350px;
    width: 600px;
    background-color: white;
    border-radius: 60px;
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.box-left {
    background-color: lightblue;
    height: 260px;
    width: 270px;
    transform: translate(-50%,-50%);
    /* position: ; */
    border-radius: 20%;
    /* transform: ; */
    position: absolute;
    top: 50%;
    left:25%;
    /* display: none; */
    /* padding: ; */
    border: solid 6px;
}

.box-right {
    /* background-color: lightblue; */
    height: 260px;
    width: 270px;
    transform: translate(-50%,-50%);
    /* position: ; */
    border-radius: 20%;
    /* transform: ; */
    position: absolute;
    top: 50%;
    left: 75%;
    /* padding: ; */
    border: solid 6px;
}

.icon {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%
}

p {
    position: absolute;
    bottom: -15%;
    transform: translate(-50%,-50%);
    left: 50%;
}











    @keyframes change-color {
        50% {
            background-color: #e2ba35;
        }
    }