.block {
    height: 50px;
    width: 50px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    animation: done 5s;
}

/* svg{
    position: absolute;
} */

.icon2 , .icon1 {
    position: absolute;
    top: 50%;
    left: 50%;
}
.icon1 {
    /* 圆圈 */
    width: 100px;
    /* transform: rotate(7deg); */
    
    transform: translate(-50%,-50%),rotate(7deg);
}
.icon2 {
    width: 30px;
    
    transform: translate(-50%,-50%);
}

.arc , .arc2 {
    width: 1px;
    position: absolute;
    right: 104px;
    top: 15px;
    font-size: 42px;
    font-family: youyuan;
}

.arc2{
    right: 199px;
    top: 275px;
}

.app {
    background-image: linear-gradient(to left,rgb(35, 80, 228),rgb(55, 119, 238));
}

main {
    background-image: url(./1547356_p0.jpg);
}

a {
    /* position: ; */
    position: absolute;
}